@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Hanalei+Fill&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2a9d8f;
    color: #f4a261;
    font-family: 'Bowlby One SC', cursive;
    font-size: 1.5rem;
}

.darkborder{
    color: #264653;
    border: 3px solid #264653;
    padding: 5px;
}

.generators-container {
    display: flex;
    width: 700px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.locked {
    opacity: 0.5;
}

.generator {
    border: 3px solid #264653;
    padding: 15px;
    margin: 5px;
    width: 300px;
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.reg {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.pink {
    color: #ef476f;
    padding: 5px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3 {
    font-family: 'Hanalei Fill', cursive;
    color: #e9c46a;
    font-size: 5rem;
    text-shadow: -5px -5px 0 #e76f51, 5px -5px 0 #e76f51, -5px 5px 0 #e76f51, 5px 5px 0 #e76f51;
}

#clicker {
    font-family: 'Hanalei Fill', cursive;
    color:  #ef476f;
    font-size: 3rem;
    text-shadow: -3px -3px 0 #e9c46a, 3px -3px 0 #e9c46a, -3px 3px 0 #e9c46a, 3px 3px 0 #e9c46a;
}

.buttonOne {
    border: none;
    outline: none;
    padding: 5px;
    width: 300px;
    height: auto;
    border-radius: 10px;
    background-color:  #2a9d8f;
}

.flamingo {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Hanalei Fill', cursive;
    color:  #ef476f;
    font-size: 7rem;
    text-shadow: -3px -3px 0 #e9c46a, 3px -3px 0 #e9c46a, -3px 3px 0 #e9c46a, 3px 3px 0 #e9c46a;
}